
<div class="jumbotron center">
	<h1>Welcome to my App</h1>
	<p>Click here to <span class="glyphicon glyphicon-arrow-right"></span> <%= link_to "Sign-up", "#", class: "btn btn-primary btn-lg" %></p>
</div>